{% extends "base.html" %} 
{% load static %}
{% block content %}

<style>
    .search-box {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 25px;
        overflow: hidden;
        max-width: 300px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .search-box input[type="text"] {
        border: none;
        padding: 10px 15px;
        width: 100%;
        border-radius: 25px 0 0 25px;
        outline: none;
        font-size: 16px;
    }

    .search-box button {
        background-color: #2c3e50;
        /* change this color to match your theme */
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        border-radius: 0 25px 25px 0;
        color: white;
        font-size: 16px;
    }

    .search-box button:hover {
        background-color: #34495e;
        /* slightly darker shade for hover effect */
    }
</style>

<style>
    .small-image {
        width: 50px;
        height: auto;
    }
</style>

<style>
    .offer-label {
        display: inline-block; /* To fit the content width */
        background-color: red;
        color: white;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 20px; /* Rounded edges for badge-like appearance */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
        z-index: 1;
        position: relative; /* You can use absolute positioning within a parent if you want to place it at a specific location on your product. */
    }
    
    .offer-label span {
        margin-left: 5px; /* Some spacing */
        font-size: 1.2em; /* Make the percentage slightly larger */
        vertical-align: middle; /* Align with the text */
    }
    
    
</style>




<main>
    <div class="container-fluid mt-3 mb-4">
        <!-- Product Search -->
        <form action="{% url 'home:search' %}" method="GET" class="search-box mb-4 d-flex justify-content-center">
            <input type="text" name="q" placeholder="Search..." class="mr-2 form-control">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!-- Main content area -->
        <div class="row">
            <!-- Category Filters (On the left) -->
            <div class="col-lg-3">
                <!-- Filter card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">Filter</h3>
                        <form action="{% url 'home:filter_category' %}" method="post">
                            {% csrf_token %}
                            <!-- Categories -->
                            <div class="mb-4">
                                <h6>By Category</h6>
                                <ul class="list-unstyled">
                                    {% for i in categories %}
                                        <li>
                                            <input data-filter="Category" class="form-check-input filter-checkbox" type="checkbox" name="category[]" value="{{i.id}}" />
                                            &nbsp;  &nbsp; 
                                            <label for="category_{{i.id}}">
                                                <img src="{{i.image.url}}" alt="" class="small-image"/> {{i.name}}
                                            </label>
                                        </li>
                                        {% endfor %}
                                </ul>
                            </div>
                            <!-- Brands -->
                            <div class="mb-4">
                                <h6>By Brand</h6>
                                <ul class="list-unstyled">
                                    {% for brand in brands %}
                                    <li>
                                        <input data-filter="Brand" class="form-check-input filter-checkbox" type="checkbox" name="brand[]" value="{{brand.id}}" />
                                        &nbsp;  &nbsp; 
                                        <label for="brand_{{brand.id}}">
                                            <img src="{{brand.brand_image.url}}" alt="" class="small-image"/> 
                                            {{brand.brand_name}}
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Submit Button -->
                            <div>
                                <button type="submit" class="btn btn-primary btn-block">Apply Filters</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Products Display (On the right) -->
            <div class="col-lg-9">
                <div class="row">
                    {% for i in product %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" id="filtered_product">
                <div class="single-popular-items mb-50 text-center">
                 
                    {% if i.offer %}
                    <div class="offer-label">Offer! <span>{{i.offer.discount_amount}}%</span> off</div>
                    {% elif i.product_brand.offer %}
                    <div class="offer-label">Offer! <span>{{i.product_brand.offer.discount_amount}}%</span> off</div>
                {% endif %} 

                    <div class="popular-img">
                

                        {% with product_image=i.productimage_set.first %}
                      
                        {% if product_image %}  
                        <img src="{{ product_image.image.url }}" alt="" width="180px">
                        {% endif %}
                        {% endwith %}

                     

                        <div class="img-cap">
                            <form method="POST" action="{% url 'add_cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ i.id }}">
                                <input type="hidden" name="product_count" value="1">
                                <button type="submit" style="background-color: red; width: 150px; height: 50px;">Add to Cart</button>
                            </form>
                        </div>
         
                    </div>
                    <div class="popular-caption">
                        <h3><a href="{% url 'product_view' i.id %}">{{ i.product_name }}</a></h3>
                        {% if i.offer or i.product_brand.offer %}
                        <span>₹{{ i.get_offer }}</span>
                        <del>₹ {{ i.product_price }}</del>
                        {% else %}
                        <span class="line-through">₹{{ i.product_price }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
         </div> 
        <div class="row">
            {% endif %} 
            {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>






    <!-- Shop Method End-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script>
        $('.wish-list').click(function(e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_size = $('select[name="size"]').val();
    
            $.ajax({
                method: "POST",
                url: "{% url 'add_wishlist' %}",
                data: {
                    'product_id': product_id,
                    'add_size': add_size,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log(response);
    
                    if (response.status === 'No such product found' || response.status === 'Only few quantity available' || response.status === 'Product already in Wishlist') {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully in Wishlist') {
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>
    


{% endblock content %}