{% extends "base.html" %} 
{% load static %} 

{% block content %}



<main>
    <!-- Hero Area Start--> 
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2> Change Password </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Change Password 
                               </h3>
                            <form class="row contact_form" action="" method="post" novalidate="novalidate">
                                        {% csrf_token %}  

                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="password" value=""
                                        placeholder="New Password">
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="password1" value=""
                                        placeholder="Conform Password">
                                </div>

                                    
                  <div class="message-container">
                    {% for message in messages %}
                      <div class="message" style="background-color: #ffcccc; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="float: right;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <i class="{{ message.level_icon }}" style="margin-right: 5px;"></i>
                        <p style="margin: 0;">{{ message }}</p>
                      </div>
                    {% endfor %}
                  </div>



                    <input type="hidden" value="{{user_id}}" , name="user_id">

                                    <button type="submit" value="submit" class="btn_3">
                                        Conform
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
</main>



{% endblock content %}