{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
  #usernameFeedback,#emailFeedback,#genderFeedback , #passwordFeedback{
    color: red;
  }
</style>

{% if otp %}
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <form class="row contact_form" action="{% url 'userauth:register' %}"method="POST" novalidate="novalidate">
                    {% csrf_token %}
                    <h3>Enter yor otp here</h3>
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="otp" name="otp">
                        <input type="hidden" class="form-control" id="otp" name="otp1">
                    </div>
                    <input type="hidden" value="{{ user.email }}" name="email">
                    <input type="hidden" value="{{ user.email }}" name="user1">
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn_3">Submit</button>
                        <a class="lost_pass" href="#">Forgot password?</a>
                    </div>
                    {% for message in messages %}
                    <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>
{% else %}




    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Regisration</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
      <!--================login_part Area =================-->
        <section class="vh-100 bg-image">

        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Create an account</h2>
    
                    <form method="post" action="{% url 'userauth:register' %}">
                      {% csrf_token %}

                      <div class="form-outline mb-4">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" class="form-control form-control-lg" name="username" pattern="[a-zA-Z0-9]{5,15}" title="Username must be alphanumeric and between 5-15 characters"  />
                        <span id="usernameFeedback"></span>
                      </div>
                    
                      <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" class="form-control form-control-lg" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Please enter a valid email address" />
                        <span id="emailFeedback"></span>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="email">Gender</label>
                        <input type="text" id="gender" class="form-control form-control-lg" name="gender"  pattern="male|female|other" title="Please enter 'male', 'female', or 'other'" />
                        <span id="genderFeedback"></span>
                      </div>
      

                      <div class="form-outline mb-4">
                        <label class="form-label" for="password1">Password</label>
                        <input type="password" id="password1" class="form-control form-control-lg" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"  />
                        <span id="passwordFeedback"></span>
                      </div>
                    
                      <div class="form-outline mb-4">
                        <label class="form-label" for="password2">Confirm Password</label>
                        <input type="password" id="password2" class="form-control form-control-lg" name="password2" title="Password must match the one above." />
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="password2">Referal Offer</label>
                        <input type="mixed" placeholder="Not compulsary" id="referal_offer" class="form-control form-control-lg" name="referal_offer"  />
                      </div>
                    
                      <!-- Message Container for Error Messages -->
                      <div class="message-container">
                        {% for message in messages %}
                          <div class="message" style="background-color: #ffcccc; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="float: right;">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="{{ message.level_icon }}" style="margin-right: 5px;"></i>
                            <p style="margin: 0;">{{ message }}</p>
                          </div>
                        {% endfor %}
                      </div>
                    
                      <!-- Submit Button -->
                      <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                      </div>
                    
                      <!-- Login Link -->
                      <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="{% url 'userauth:user_login' %}" class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>
                    
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main> 
{% endif %}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    function setupValidation(inputId, feedbackId) {
      console.log('calling this function')
      const inputElem = document.getElementById(inputId);
      const feedbackElem = document.getElementById(feedbackId);
  
      inputElem.addEventListener('input', function() {
          if (inputElem.validity.patternMismatch) {
              feedbackElem.textContent = inputElem.title;
          } else {
              feedbackElem.textContent = ''; // Clear the error message if input matches the pattern
          }
      });
  }
  
  // Set up validation for each input
  setupValidation('username', 'usernameFeedback');
  setupValidation('email', 'emailFeedback');
  setupValidation('gender', 'genderFeedback');
  setupValidation('password1', 'passwordFeedback');
    
});
 

</script>

{% endblock content %}