
{% extends "adminside/adminbase.html"%}
{% load static %}
{% block dashbody %}

<style>
    .status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
</style>

<style>
    .no-orders-message {
        font-size: 24px;
        color:#3498db;
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="row">
            {% if order %}
            <div class="col-md-5">
                <h5 class="card-title fw-semibold mb-4"> ORDER ADDRESS</h5>
                <div class="card">
                    {% for item in order %}
                    <div class="card-body">
                        <table>
                            <tr>
                                <td><strong>First Name</strong></td>
                                <td>:{{item.address.first_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Last Name</strong></td>
                                <td>:{{item.address.last_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number</strong></td>
                                <td>:{{item.address.phone}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td>:{{item.address.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td>:{{item.address.address}}</td>
                            </tr>
                            <tr>
                                <td><strong>Country</strong></td>
                                <td>:{{item.address.country}}</td>
                            </tr>
                            <tr>
                                <td><strong>City</strong></td>
                                <td>:{{item.address.city}}</td>
                            </tr>
                            <tr>
                                <td><strong>State</strong></td>
                                <td>:{{item.address.state}}</td>
                            </tr>
                            <tr>
                                <td><strong>Pincode</strong></td>
                                <td>:{{item.address.pincode}}</td>
                            </tr>
                            <tr>
                                <td><strong>Order note</strong></td>
                                <td>:{{item.address.order_note}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
           
           
            <div class="col-md-5">
                <h5 class="card-title fw-semibold mb-4"> ORDER DETAILS </h5>
                <div class="card">

                    <div class="card-body">
                        <table>
                            <tr>
                                <td><strong>Order id</strong></td>
                                <td>:{{item.id}}</td>
                            </tr>

                            <tr>
                                <td><strong>User Name</strong></td>
                                <td>{{item.user.username}}</td>
                            </tr>

                            <tr>
                                <td><strong>Total price</strong></td>
                                <td>:${{item.total_price}}</td>
                            </tr>
                            <tr>
                                <td><strong>Payment method</strong></td>
                                <td>:{{item.payment_mode}}</td>
                            </tr>
                          
                            <tr>
                                <td><strong>Payment id</strong></td>
                                <td>:None</td>
                            </tr>
                
                           
                      
                            <tr>
                                <td><strong>Tracking no</strong></td>
                                <td>: None </td>
                            </tr>
                            <tr>
                                <td><strong>Ordered date</strong></td>
                                <td>: {{item.created_at}} </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td><strong>Ordder status</strong></td>
                                <td>:{{item.od_status}}</td>
                            </tr>
                            <br>
                            {% endfor %}
                            
                        </table>
                        <br>
                    </div>
                </div>

            </div>
         
            <h5 class="card-title fw-semibold mb-4" style="text-align: center;">Items</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th scope="col">image</th>
                                <th scope="col">Product name</th>
                                <th scope="col">category</th>
                                <th scope="col">price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Status</th>
                                <th scope="col"> Edit Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_views %}
                            <tr class="text-uppercase">                              
                                <td>
                                    <div style="width: 30px;" class="overflow-hidden">
                                        <img class="w-100" src="{{item.product.product_image.url}} "   alt="product image">
                                    </div>
                                </td>
                              
                                 <td><b>{{item.product.product_name}}</td>
                                <td><b> {{item.product.product_brand}} </td>
                                <td><b> {{item.product.product_price}} </td>
                                <td><b> {{item.quantity}} </td>
                                <td><b>

                                    <!-- {% if item.od_status.orderstatuses == 'Pending' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{item.od_status}} </span>
                                    {% elif item.od_status.orderstatuses == 'Processing' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{item.od_status}} </span>
                                    {% elif item.od_status.orderstatuses == 'Shipped' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{item.od_status}} </span>
                                    {% elif item.od_status.orderstatuses == 'Delivered' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{item.od_status}} </span>
                                    {% elif item.od_status.orderstatuses == 'Cancelled' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{item.od_status}} </span>
                                    {% elif item.od_status.orderstatuses == 'Retur' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{item.od_status}} </span>
                                    {% endif %} -->
                                    {{item.status}}

                                </td>

                                <td>
                                    <form class="status-form" action="{% url 'change_status' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ item.id }}" name="orderitem_id">
                                        <div class="col-lg-11 col-11 col-md-10">
                                            <select class="form-select status-select" name="status">
                                                {% for status_item in item.orderstatuses %}
                                                {% if item.status == status_item.0 %}
                                                <option selected value="{{ status_item.0 }}">{{ status_item.1 }}</option>
                                                {% else %}
                                                <option selected value="{{ status_item.0 }}">{{ status_item.1 }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </td>
                            

                            </tr>
                                    {% endfor %}
                        <!-- Loop through the items -->

        {% else %}
        <p class="no-orders-message">No order has been made yet.</p>
        <a href="{% url 'home:shop' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
  
        {% endif %}


                <script>
                    // JavaScript to automatically submit the form when the select value changes for each row
                    const statusForms = document.querySelectorAll('.status-form');
                    statusForms.forEach((form) => {
                        const selectElement = form.querySelector('.status-select');
                        selectElement.addEventListener('change', () => {
                        console.log('form is submited')
                            form.submit();
                        });
                    });
                </script>



                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>

{% endblock  %}